In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df = pd.read_csv('/content/drive/MyDrive/OHCA.csv')#retrieve dataset from the google drive

In [ ]:
df['output'] = df['output'].replace([1, 2, 3, 4], 1)
df = df.drop(columns=['thal', 'ca'])

In [ ]:
# Identify rows containing "?"
rows_with_question_mark = df[df.apply(lambda row: any('?' in str(value) for value in row), axis=1)]

# Display the count and the rows containing "?"
print("Number of rows containing '?':", len(rows_with_question_mark))
print("Rows containing '?' details:\n", rows_with_question_mark)

# Remove rows containing "?"
df_cleaned = df[~df.apply(lambda row: any('?' in str(value) for value in row), axis=1)]

# Display the shape of the cleaned DataFrame
print("Shape of the cleaned DataFrame:", df_cleaned.shape)

Number of rows containing '?': 389
Rows containing '?' details:
       age  sex   cp trestbps chol fbs restecg thalach exang oldpeak slope  \
303  28.0  1.0  2.0      130  132   0       2     185     0     0.0     ?
304  29.0  1.0  2.0      120  243   0       0     160     0     0.0     ?
305  29.0  1.0  2.0      140    ?   0       0     170     0     0.0     ?
306  30.0  0.0  1.0      170  237   0       1     170     0     0.0     ?
307  31.0  0.0  2.0      100  219   0       1     150     0     0.0     ?
..    ...  ...  ...      ...  ...  ..     ...     ...   ...     ...   ...
915  54.0  0.0  4.0      127  333   1       1     154     0       0     ?
916  62.0  1.0  1.0        ?  139   0       1       ?     ?       ?     ?
917  55.0  1.0  4.0      122  223   1       1     100     0       0     ?
918  58.0  1.0  4.0        ?  385   1       2       ?     ?       ?     ?
919  62.0  1.0  2.0      120  254   0       2      93     1       0     ?

     output
303       0
304       0
305       0
306       0
307       0
..      ...
915       1
916       0
917       1
918       0
919       1

[389 rows x 12 columns]
Shape of the cleaned DataFrame: (531, 12)

In [ ]:
# Replace '?' with NaN
df.replace(['?'], np.nan, inplace=True)

# List of categorical columns
categorical_columns = ['fbs', 'restecg', 'exang', 'slope']

# List of numeric columns
numeric_columns = ['trestbps', 'chol', 'thalach', 'oldpeak']

# Replace missing values in categorical columns with mode
for column in categorical_columns:
    mode_value = df[column].mode().iloc[0]
    df[column].fillna(mode_value, inplace=True)

# Replace missing values in numeric columns with mean
for column in numeric_columns:
    mean_value = df[column].astype(float).mean()  # Convert to float before calculating mean
    df[column].fillna(mean_value, inplace=True)

# Display the cleaned DataFrame
print("Cleaned DataFrame:\n", df)

Cleaned DataFrame:
       age  sex   cp    trestbps   chol  fbs restecg     thalach exang  \
0    63.0  1.0  1.0       145.0  233.0  1.0     2.0       150.0   0.0
1    67.0  1.0  4.0       160.0  286.0  0.0     2.0       108.0   1.0
2    67.0  1.0  4.0       120.0  229.0  0.0     2.0       129.0   1.0
3    37.0  1.0  3.0       130.0  250.0  0.0     0.0       187.0   0.0
4    41.0  0.0  2.0       130.0  204.0  0.0     2.0       172.0   0.0
..    ...  ...  ...         ...    ...  ...     ...         ...   ...
915  54.0  0.0  4.0         127    333    1       1         154     0
916  62.0  1.0  1.0  132.132404    139    0       1  137.545665     0
917  55.0  1.0  4.0         122    223    1       1         100     0
918  58.0  1.0  4.0  132.132404    385    1       2  137.545665     0
919  62.0  1.0  2.0         120    254    0       2          93     1

      oldpeak slope  output
0         2.3   3.0       0
1         1.5   2.0       1
2         2.6   2.0       1
3         3.5   3.0       0
4         1.4   1.0       0
..        ...   ...     ...
915         0     2       1
916  0.878788     2       0
917         0     2       1
918  0.878788     2       0
919         0     2       1

[920 rows x 12 columns]

In [ ]:
# List of columns with mixed data types
columns_to_convert = ['age', 'sex', 'chol', 'thalach', 'trestbps', 'cp', 'fbs', 'restecg', 'exang', 'slope']

# Convert columns with mixed data types to integers
for column in columns_to_convert:
    df[column] = df[column].apply(lambda x: int(float(x)) if isinstance(x, str) else int(x))

# List of columns to convert to float
columns_to_convert_float = ['oldpeak']

# Convert 'oldpeak' column to float
for column in columns_to_convert_float:
    df[column] = df[column].astype(float)

df.head(15)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,output
0,63,1,1,145,233,1,2,150,0,2.3,3,0
1,67,1,4,160,286,0,2,108,1,1.5,2,1
2,67,1,4,120,229,0,2,129,1,2.6,2,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0
6,62,0,4,140,268,0,2,160,0,3.6,3,1
7,57,0,4,120,354,0,0,163,1,0.6,1,0
8,63,1,4,130,254,0,2,147,0,1.4,2,1
9,53,1,4,140,203,1,2,155,1,3.1,3,1
10,57,1,4,140,192,0,0,148,0,0.4,2,0
11,56,0,2,140,294,0,2,153,0,1.3,2,0
12,56,1,3,130,256,1,2,142,1,0.6,2,1
13,44,1,2,120,263,0,0,173,0,0.0,1,0
14,52,1,3,172,199,1,0,162,0,0.5,1,0

In [ ]:
# Identify duplicate rows
duplicate_mask = df.duplicated()
duplicate_rows = df[duplicate_mask]

# Display duplicate rows
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
405   49    0   2       110   199    0        0      160      0      0.0
907   58    1   3       150   219    0        1      118      1      0.0

     slope  output
405      2       0
907      2       1

In [ ]:
# Remove duplicate rows
df = df.drop_duplicates()

# Check the shape of the DataFrame after removing duplicates
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (918, 12)

In [ ]:
combined_csv_file = '/content/drive/MyDrive/OHCA latest.csv'
df.to_csv(combined_csv_file, index=False)